.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.cart-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.remove-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #0b69ff;
  font-size: 24px;
  font-family: 'Roboto';
  margin-bottom: 5px;
}
.show-summary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.summary-container {
  display: flex;
  flex-direction: column;
}
.order-rate {
  color: #616e7c;
  font-size: 28px;
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
}
.rate {
  font-size: 30px;
  font-family: 'Roboto';
  color: #171f46;
  padding: 0px;
  margin: 0px;
}
.cart-count {
  color: #616e7c;
  font-size: 22px;
  font-family: 'Roboto';
  padding: 0px;
  margin: 4px;
}
.checkout-btn {
  background-color: #0b69ff;
  color: #ffffff;
  width: 90vw;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  height: 30px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .checkout-btn {
    width: 280px;
  }
}
.cart-popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 90vw;
  height: 80vh;
  padding: 15px;
}
@media (min-width: 992px) {
  .cart-popup-container {
    width: 60vw;
    height: 60vh;
  }
}
.cart-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}
.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}
.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  line-height: 16px;
  color: #ff0b37;
}

.payment-popup {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.payment-popup h2 {
  margin-top: 0;
}

.payment-popup div {
  margin-bottom: 20px;
}

.payment-popup label {
  display: block;
  margin-bottom: 10px;
}

.payment-popup button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.payment-popup button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
